body {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#wrapper {
  padding: 1rem;
}

#header-title {
  font-size: 4rem;
}

.main {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  gap: 1rem;
}

.score-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#score-header-h2 {
  padding: 0;
  margin: 0;
  font-size: 2rem;
}

#btn-refresh {
  margin-top: 0.25rem;
  padding: 0.5rem 2rem;
  font-weight: bolder;
}

.score-lists {
  margin-top: 1rem;
  border: 2px solid #161b22;
  max-height: 13rem;
  overflow: auto;
}

.score-lists div {
  padding: 0.4rem;
}

.score-lists div:nth-child(2n + 1) {
  background-color: beige;
}

.section-scores {
  width: 45%;
}

.section-add-score {
  width: 35%;
  margin-left: 5rem;
  justify-content: center;
}

.scores .score-lists {
  display: flex;
  flex-direction: column;
}

.section-add-score .form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form .form-h2 {
  font-size: 1.67rem;
  margin: 0;
}

input {
  padding: 0.4rem;
}

.btn-form-submit {
  width: fit-content;
  margin-left: auto;
  padding: 0.5rem 1.5rem;
  font-weight: bolder;
}
