body {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: whitesmoke;
}

#wrapper {
  padding: 1rem;
}

#header-title {
  font-size: 4rem;
}

.main {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  gap: 1rem;
  background-color: #ffe7bdd1;
}

.score-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#score-header-h2 {
  padding: 0;
  margin: 0;
  font-size: 2rem;
}

#btn-refresh {
  margin-top: 0.25rem;
  border: none;
  padding: 0.5rem 2rem;
  font-weight: bolder;
  background-color: #2bc48a;
  color: white;
}

#btn-refresh:hover {
  background-color: #008cba;
}

.score-lists {
  box-shadow: rgba(1, 1, 1, 0.25) 1px 54px 55px, rgba(1, 1, 1, 0.12) 1px -12px 30px, rgba(1, 1, 1, 0.12) 1px 4px 6px, rgba(1, 1, 1, 0.17) 1px 12px 13px, rgba(1, 1, 1, 0.09) 1px -3px 5px;
  margin-top: 1rem;
}

.score-lists div {
  padding: 0.4rem;
}

.score-lists div:nth-child(2n + 1) {
  background-color: beige;
}

.section-scores {
  width: 45%;
}

.section-add-score {
  width: 35%;
  margin-left: 5rem;
  justify-content: center;
}

.scores .score-lists {
  display: flex;
  flex-direction: column;
}

.section-add-score .form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form .form-h2 {
  font-size: 1.67rem;
  margin: 0;
}

input {
  padding: 0.4rem;
}

.btn-form-submit {
  border: none;
  width: fit-content;
  margin-left: auto;
  padding: 0.5rem 1.5rem;
  font-weight: bolder;
  background-color: #345;
  color: white;
}

.btn-form-submit:hover {
  background-color: #444;
}
